 /* Custom styles for the sidebar */
 #left {
    background-image: radial-gradient(#004102, #131313 50%);
    height: 100vh;
    position: fixed;
    width: 16%;
}

#fix {
    margin-left: 16%;
    width: 84%;
}

.list-group-item {
    color: white;
    border: none;
}

.list-group-item:hover {
    background-color: transparent;
    color: white !important;
}

.list-group-item:focus {
    background-color: transparent;
    color: white !important;
}

.bg-purple {
    background-color: transparent !important;
}

a {
    color: white;
    text-decoration: none;
}

/* Hide navigation bar on larger screens */
#nav {
    display: none;
}

.list-group-item {
    background: transparent;
    color: white;
    font-size: small;
    border: none;
}

.list-group-item span {
    padding-left: 10px;
}

#list-group-flush {
    margin-left: 40px !important;
}

#nav {
    background-image: radial-gradient(#004102, #131313 50%);
    padding: 20px;
}

/* Loading   start*/
.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9999;
    justify-content: center;
    align-items: center;
}

.overlay .spinner {
    border: 4px solid #f3f3f3;
    border-top: 4px solid #02066F;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/* loading end */

@media (max-width:1300px) {
    #left {
        width: 19%;
    }

    #fix {
        margin-left: 19%;
        width: 81%;
    }
}


@media (max-width:1162px) {
    #left {
        width: 20%;
    }

    #fix {
        margin-left: 20%;
        width: 80%;
    }

}

@media (max-width:1044px) {
    #left {
        width: 20%;
    }

    #fix {
        margin-left: 20%;
        width: 80%;
    }

    #rejectedTicketTable thead th,
    #unassignedTicketTable thead th,
    #ticketTable thead th {
        /* color: #006103; */
        /* font-weight: bold; */
        /* text-transform: uppercase !important; */
        font-size: 8px !important;
    }
}


/* Show navigation bar on mobile devices */
@media (max-width: 998px) {
    #header {
        display: none;
    }

    #nav {
        display: block;
        position: fixed;
        width: 100%;
        top: 0;
        z-index: 1000;
    }

    #header_admin {
        display: none;
    }

    #sidebar-header {
        display: none;
    }

    #fix {
        margin-top: 8%;
        width: 100%;
        margin-left: 0;
    }

    #left {
        position: fixed;
        top: 0;
        left: -100%;
        width: 30%;
        height: 100vh;
        z-index: 999;
        background-color: #ff0000;
        transition: all 0.3s ease;
        margin-top: 8%;
        padding-top: 20px;
    }

    #left.active {
        left: 0;
        width: 30%;
    }

    .sidebar-toggle {
        display: block;
        background-color: transparent;
        color: white;
        border: none;
        width: 10% !important;
        top: 0px;
        left: 0px;
        z-index: 1001;
    }

    body.active {
        overflow: hidden;
    }

    #logo {
        width: 50% !important;
    }
    #rejectedTicketTable thead th,
    #unassignedTicketTable thead th,
    #ticketTable thead th {
        /* color: #006103; */
        /* font-weight: bold; */
        /* text-transform: uppercase !important; */
        font-size: 10px !important;
    }
}

@media (max-width:702px) {
    #left {
        width: 40% !important;
        margin-top: 9%;
    }
    
    .sidebar-toggle {
        display: block;
        background-color: transparent;
        color: white;
        border: none;
        width: 15% !important;
       
    }
}

/* Adjustments for smaller screens */
@media (max-width: 530px) {
    #left {
        width: 47% !important;
        margin-top: 12%;
    }

    .sidebar-toggle {
        display: block;
        background-color: transparent;
        color: white;
        border: none;
        width: 18% !important;
       
    }
}

@media (max-width: 450px) {
    #left {
        width: 61% !important;
        margin-top: 13%;
    }
    .sidebar-toggle {
        display: block;
        background-color: transparent;
        color: white;
        border: none;
        width: 25% !important;
    }
    .container-sty{
        margin-top: 20%;
    }
}


@media (max-width:330px) {
    #left {
        width: 70% !important;
        padding-top: 20%;
    }

    .container-sty{
        margin-top: 25%;
    }
    .sidebar-toggle {
        display: block;
        background-color: transparent;
        color: white;
        border: none;
        width: 25% !important;
    
    }

    
    .sidebar-toggle {
        display: block;
        background-color: transparent;
        color: white;
        border: none;
        width: 30% !important;
    }

}

/* Default for desktop view */
@media (min-width: 1000px) {
    .sidebar-toggle {
        display: none;

    }
}